@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  scroll-behavior: smooth;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f5f5f5;
  color: #4e4e4e;
  padding: 0;
  margin: 0;
}
:root,
body,
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
small,
i,
img,
div,
header,
html,
label,
li,
nav,
p,
ul {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  font-family: "Poppins", sans-serif;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 16px;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.paginationBox {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.page-item {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 8px 16px;
  transition: all 0.3s;
  cursor: pointer;
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
}
.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 300;
  color: rgb(230, 230, 230);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(80, 80, 80);
}

.pageItemActive {
  background-color: #4e4e4e;
}

.pageLinkActive {
  color: #f5f5f5;
}
